DATABRICKS_HOST=https://...
DATABRICKS_WAREHOUSE_ID=57f2d24b9a91fb7f
DATABRICKS_SERVING_ENDPOINT_NAME=your_serving_endpoint_name
DATABRICKS_APP_PORT=8000
DATABRICKS_APP_NAME=general-chatbot
FLASK_RUN_HOST=0.0.0.0
